* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}
header {
    display: flex;
    background-color: purple;
}
header a {
    color: rgb(212, 234, 175);
}
main {
    height: 100%;
}
.left-column {
    width: 150px;
    height: 100%;
    background-color: purple;
}
.left-column a {
    color: rgb(212, 234, 175);
    text-decoration: none;
}
.right-column {
    margin-left: 20px;
}
.right-column a {
    color: purple;
    text-decoration: none;
}
.elements {
    list-style: none;
    margin: 10px;
}
.elements a{
    text-decoration: none;
}
.align-menu {
    display: flex;
}
.column {
    align: center;
}
footer {
    display: flex;
    background-color: purple;
    height: 80px;
}
footer p  {
    margin-right: 50px;
}
.hover:hover {
    color:coral;
}
.hover:active {
    text-decoration: underline;
}
.changeStyle {
    width: 100px;
}
.day {
    background-color: rgb(212, 234, 175);
    color: black;
  }
  
.night {
    background: black;
    color: white;
  }
.night a {
    color: white;
  }
.btn1 {
    background-color: #fff;
    border:black 1px solid;
    display: block;
    width: 100px;
    height: 20px;
    margin-left: 1000px;
}
.btn2 {
    background-color: black;
    color: white;
    display: block;
    width: 100px;
    height: 20px;
}
.contacts {
    margin-top: 10px;
    width: 100px;
    height: 20px;
    background-color: black;
    color: white;
    display: block;
}
#cont-block {
    margin: 10px;
    padding-left: 10px;
    background-color: rgb(212, 234, 175);
}
.hide {
    display: none;
}
.show {
    display: block;
}
.butVid {
    margin-top: 10px;
    display: block;
    height: 20px;
    background-color: black;
    color: white;
}
.columns {
    display: flex;
}
.rent {
    display: flex;
}
#card {
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 5px;
}
.add {
    margin-right: 50px;
}
.rent input {
    background-color: rgb(212, 234, 175);
    border:none;
    border-bottom: 3px solid #000;
}

